{% extends "photonic/view.html" %}

{% block content %}
    <form id="form" autocomplete="off" method='post' enctype="multipart/form-data">
        {{ form }}
    </form>
    <table class="display" data-endpoint="orchestration" data-url="/v1/service-template/{{id}}/models" width="100%">
        <thead>
            <tr>
                <th id='entry_no'>Entry no</th>
                <th id='yang_model'>Yang Model</th>
                <th data-confirm="Delete Model?" data-href="/services/templates/{{id}}/rm_model" data-close width="2rem">
                    <span data-feather="minus-square"></span>
                </th>
                <th data-modal data-href="/services/templates/{{id}}/view_model" width="2rem">
                    <span data-feather="edit"></span>
                </th>
            </tr>
        </thead>
    </table>
    <form id='model_form' autocomplete="off" data-msg="Succesfully added Model" data-datatable action="{{ APP }}/services/templates/{{id}}/model" enctype="multipart/form-data" class="row">
        <div class="col-sm-3">
             <input class="form-control" type="text" id="entry_no" name="entry_no" placeholder="Entry No" required>
            </input>
        </div>
        <div class="col-sm-4">
             <select id="select_model" name="model" data-id="name" data-url="/v1/yang-models" data-placeholder="Select YANG Model" data-endpoint="orchestration" required>
            </select>
        </div>
         <div class="col-sm-3">
             <input data-modal id='model_add_button' class="btn btn-success" type="submit" value="Add YANG Model" >
         </div>
    </form>

{% endblock %}

{% block buttons %}
    <a href="{{ APP }}/services/templates/{{id}}" class="btn btn-default">Cancel</a>
    <a data-confirm="Delete Service Template?" data-closeAll href="{{ APP }}/services/templates/delete/{{id}}" class="btn btn-danger">Delete</a>
    <a href="{{ APP }}/services/templates/edit/{{id}}" data-form="form" class="btn btn-primary">Update</a>
{% endblock %}
