{% extends "photonic/view.html" %}
{% block content %}
<table class="display" data-endpoint='orchestration' data-url="/v1/service-templates" width="100%">
    <thead>
        <tr>
            <th id='name'>Name</th>
            <th data-modal data-href="/services/templates" width="2rem">
                <span data-feather="edit"></span>
            </th>
        </tr>
    </thead>
</table>
{% endblock %}
{% block buttons %}
<a class="btn btn-primary" href="{{APP}}/services/templates/add" data-modal>Add Service Template</a>
{% endblock %}
