{% extends "photonic/view.html" %}

{% block content %}
    <form method='post' enctype="multipart/form-data" disabled>
        {{ form }}
    </form>
    <table class="display" data-endpoint="orchestration" data-url="/v1/service-template/{{id}}/models" width="100%">
        <thead>
            <tr>
                <th id='entry_no'>Entry no</th>
                <th id='yang_model'>Yang Model</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block buttons %}
    <a href="#" onclick="close_window();" class="btn btn-default">Back</a>
    <a href="{{ APP }}/services/templates/edit/{{id}}" class="btn btn-primary">Edit</a>
{% endblock %}
