{% extends "photonic/view.html" %}
{% block content %}
<table class="display" data-endpoint='orchestration' data-url="/v1/products" width="100%">
    <thead>
        <tr>
            <th id='name'>Name</th>
            <th data-href="/products" data-modal width="2rem">
                <span data-feather="edit"></span>
            </th>
        </tr>
    </thead>
</table>
{% endblock %}
{% block buttons %}
<a class="btn btn-primary" data-modal href="{{APP}}/products/add">Add Product</a>
{% endblock %}
