{% extends "photonic/view.html" %}

{% block content %}
    <form id="metadata_form" autocomplete="off" method='post' enctype="multipart/form-data">
        {{ form }}
    </form>
{% endblock %}

{% block buttons %}
    {% if 'add' in view.lower() %}
    <a href="{{ APP }}/products/edit/{{id}}" class="btn btn-default">Cancel</a>
    <a href="{{ APP }}/products/services/{{id}}/{{model}}" data-form="metadata_form" class="btn btn-primary">Add</a>
    {% elif 'edit' in view.lower() %}
    <a href="#" onclick="close_window();" class="btn btn-default">Cancel</a>
    <a href="{{ APP }}/products/services/edit/{{id}}/{{model}}/" data-form="metadata_form" class="btn btn-primary">Update</a>
    <a data-close href="{{ APP }}/products/services/delete/{{id}}/{{model}}" class="btn btn-danger">Delete</a>
    {% else %}
    <a href="#" onclick="close_window();" class="btn btn-default">Cancel</a>
    <a href="{{ APP }}/products/services/edit/{{id}}/{{model}}" class="btn btn-primary">Edit</a>
    {% endif %}
{% endblock %}
