{% extends "photonic/view.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
        <img src="{{APP}}/apiproxy?url=/v1/product/{{id}}/image&endpoint=orchestration" alt="Product Image" style="max-width:100px;max-height:100px;">
    </div>
</div>
<form method='post' enctype="multipart/form-data" disabled>
    {{ form }}
</form>
{% endblock %}

{% block buttons %}
    <a href="#" onclick="close_window();" class="btn btn-default">Back</a>
    <a href="{{ APP }}/products/edit/{{id}}" class="btn btn-primary">Edit</a>
{% endblock %}
