{% extends "photonic/view.html" %}

{% block content %}
    <form id="form" autocomplete="off" method='post' enctype="multipart/form-data">
        <label for="update_parent">Parent</label>
        <select id="update_parent" name="parent_id" data-id="id" data-url="/v1/elements" data-allow-clear data-endpoint="orchestration"
                {% if parent %}
                ><option value="{{parent_id}}" selected>{{parent}}</option>
                {% else %}
                data-placeholder="Select Parent">
                <option value=""></option>
                {% endif %}
        </select>
        {{ form }}
    </form>
    <table class="display" data-url="/v1/element/{{id}}&view=interfaces" data-endpoint="orchestration" width="100%">
        <thead>
            <th id='interface'>Element Interface</th>
            <th data-modal data-href="/infrastructure/interfaces/edit/{{id}}" width="2rem">
                <span data-feather="edit"></span>
            </th>
        </thead>
    </table>
        <form id='interface_form' autocomplete="off" data-datatable action="{{ APP }}/infrastructure/elements/{{id}}/interface" enctype="multipart/form-data" class="row">
            <div class="col-sm-3">
                 <select id="add_interface" name="interface" data-id="name" data-url="/v1/interfaces" data-placeholder="Select Interface" data-endpoint="orchestration">
                </select>
            </div>
            <div class="col-sm-3">
                <a href="{{ APP }}/infrastructure/elements/{{id}}/interface" data-form="interface_form" class="btn btn-success">Add Element Interface</a>
            </div>

        </form>
{% endblock %}

{% block buttons %}
    <a href="{{ APP }}/infrastructure/elements/{{id}}" class="btn btn-default">Cancel</a>
    <a data-confirm="Delete element?" data-closeAll href="{{ APP }}/infrastructure/elements/delete/{{id}}" class="btn btn-danger">Delete</a>
    <a href="{{ APP }}/infrastructure/elements/edit/{{id}}" data-form="form" class="btn btn-primary">Update</a>
{% endblock %}
