{% extends "photonic/view.html" %}
{% block content %}
<table class="display" data-url="/v1/elements" width="100%" data-endpoint='orchestration'>
    <thead>
        <tr>
            <th id='name'>Name</th>
            <th data-modal data-href="/infrastructure/elements" width="2rem">
                <span data-feather="edit"></span>
            </th>
        </tr>
    </thead>
</table>
{% endblock %}
{% block buttons %}
<a class="btn btn-primary" href="{{APP}}/infrastructure/elements/add" data-modal>Add Element</a>
{% endblock %}
