{% extends "photonic/view.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-6 offset-md-3">
    </div>
</div>
<div class="row">
    <div class="col-sm-6 offset-md-3" style="text-align: center">
        <h2>{{ product['name'] }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 offset-md-3" style="text-align: center">
        <p>&nbsp;</p>
        {{ product['description'] if product['description']}}
    </div>
</div>
<div class="row">
    <div class="col-sm-6 offset-md-3" style="text-align: center">
        <p>&nbsp;</p>
        R {{ product['price'] }}
        {% if product.monthly %}
              per month
        {%  endif %}
    </div>
</div>

<div class="row">
&nbsp;
</div>

{% if form %}
<form id="customize_order" method="post" enctype="multipart/form-data">
{{ form }}
<div class="form-group">
<label for="payment_gateway">Payment Gateway</label>
<select class="form-control" data-id="name" name="payment_gateway" id="payment_gateway" data-url="/v1/product/{{product.id}}&view=payment_gateways" data-endpoint="orchestration" data-text="description">
</select>
</div>
</form>
{%  endif %}

{% endblock %}

{% block buttons %}
    <a href="#" onclick="close_window();" class="btn btn-default">Back</a>
    {%  if form %}
        <a href="{{ APP }}/order/{{ product.id }}/{{ order_id }}" data-form="customize_order" class="btn btn-primary">Order</a>
    {%  else %}
        <a href="{{ APP }}/order/{{ pid }}/success" class="btn btn-primary">Activate</a>
    {%  endif %}
{% endblock %}
